# Adapted from https://www.gitignore.io/api/sbt,macos,scala,intellij
# and https://stackoverflow.com/questions/24297331/

### Intellij ###
.idea/
/out/

### macOS ###
*.DS_Store

### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

playground.sc